# Cache Files
__pycache__
.cloud
.google.token
.HA_VERSION
.storage
deps
tts
zwcfg*.xml
zwscene.xml

# Logs
OZW_Log.txt
*.log

# Data and personal info
alexa_media*.pickle
home-assistant_v2.db
ip_bans.yaml
known_devices.yaml
options.xml
pyozw.sqlite
secrets.yaml