# GPS/Zones
lat_home: REPLACE_SECRET
long_home: REPLACE_SECRET

# Authentication
token_robovac: REPLACE_SECRET
token_darksky: REPLACE_SECRET
token_xbox: REPLACE_SECRET
token_zwave: REPLACE_SECRET

user_xbox_xuid: REPLACE_SECRET
user_myq: REPLACE_SECRET
user_doorbell: REPLACE_SECRET
user_motioneye: REPLACE_SECRET

pass_myq: REPLACE_SECRET
pass_doorbell: REPLACE_SECRET
pass_motioneye: REPLACE_SECRET

# Hosts/IPs
ip_doorbell: REPLACE_SECRET
ip_robovac: REPLACE_SECRET
ip_tv_living_room: REPLACE_SECRET

url_motioneye: REPLACE_SECRET
url_front_door_still: REPLACE_SECRET
url_front_door_stream: REPLACE_SECRET